

.navbar{
    display:flex;
    padding: 1em;
    background-color: #222;
    justify-content: space-between;

}
.list{
    display:flex;
    align-items: center;
    list-style-type: none;
    margin: 1em;
}
.itens{
    margin-right: 1em;
   
}
.itens a{
     color:#fff;
     text-decoration:none;
}
.itens a:hover{
    color:#ffbb33;
}